:root {
    --highlight: #F8856E;
    --background: #f6f6f6;
    --dark: #2F3676;
    --darker: #212659;
    --darkerer:#171822;
    --contrast: #342d33;
    --header: #1c1c1c;
    --shadow: #342d33;
    --light: #fff;
}